<% provide :title, "New User" %>
<%= form_with model: @user, id: "new_user_form" do |form| %>
  <div class="mdc-layout-grid__inner">
    <% if defined?(@errors) && @errors.present? %>
      <%= cell_tag base: 18 do %>
        <%= render partial: "shared/errors" %>
      <% end %>
    <% end %>
    <%= cell_tag base: 18 do %>
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--filled mdc-text-field--with-trailing-icon">
        <%= form.text_field :first_names, type: "text", class: "mdc-text-field__input", autocomplete: "given-name", required: true, data: { target: "text-field.input" } %>
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          account_circle
        </i>
        <%= form.label :first_names, "First Name(s)", class: "mdc-floating-label mdc-floating-label--float-above", data: { target: "text-field.label" } %>
        <div class="mdc-line-ripple"></div>
      </div>
    <% end %>
    <%= cell_tag base: 18 do %>
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--filled mdc-text-field--with-trailing-icon">
        <%= form.text_field :middle_names, type: "text", class: "mdc-text-field__input", autocomplete: "additional-name", data: { target: "text-field.input" } %>
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          account_circle
        </i>
        <%= form.label :middle_names, "Middle Name(s)", class: "mdc-floating-label mdc-floating-label--float-above", data: { target: "text-field.label" } %>
        <div class="mdc-line-ripple"></div>
      </div>
    <% end %>
    <%= cell_tag base: 18 do %>
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--filled mdc-text-field--with-trailing-icon">
        <%= form.text_field :last_names, type: "text", class: "mdc-text-field__input", autocomplete: "family-name", required: true, data: { target: "text-field.input" } %>
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          account_circle
        </i>
        <%= form.label :last_names, "Last Name(s)", class: "mdc-floating-label mdc-floating-label--float-above", data: { target: "text-field.label" } %>
        <div class="mdc-line-ripple"></div>
      </div>
    <% end %>
    <%= cell_tag base: 18 do %>
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--filled mdc-text-field--with-trailing-icon">
        <%= form.text_field :email, type: "email", class: "mdc-text-field__input", autocomplete: "email", required: true, data: { target: "text-field.input" } %>
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          email
        </i>
        <%= form.label :email, class: "mdc-floating-label mdc-floating-label--float-above", data: { target: "text-field.label" } %>
        <div class="mdc-line-ripple"></div>
      </div>
    <% end %>
    <%= cell_tag base: 18 do %>
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--filled mdc-text-field--with-trailing-icon">
        <%= form.text_field :password, type: "password", class: "mdc-text-field__input", autocomplete: "new-password", required: true, data: { target: "text-field.input" } %>
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          enhanced_encryption
        </i>
        <%= form.label :password, class: "mdc-floating-label mdc-floating-label--float-above", data: { target: "text-field.label" } %>
        <div class="mdc-line-ripple"></div>
      </div>
    <% end %>
    <%= cell_tag base: 18 do %>
      <!-- Render textfield component -->
      <div class="mdc-text-field mdc-text-field--filled mdc-text-field--with-trailing-icon">
        <%= form.text_field :password_confirmation, type: "password", class: "mdc-text-field__input", autocomplete: "new-password", required: true, data: { target: "text-field.input" } %>
        <i class="material-icons mdc-text-field__icon mdc-text-field__icon--trailing clickable" data-target="text-field.icon">
          enhanced_encryption
        </i>
        <%= form.label :password_confirmation, "Confirm Password", class: "mdc-floating-label mdc-floating-label--float-above", data: { target: "text-field.label" } %>
        <div class="mdc-line-ripple"></div>
      </div>
    <% end %>
    <%= cell_tag base: 18 do %>
      <% is_attached = @user.avatar.attached? %>
      <div
        class="dropzone dropzone-default dz-clickable"
        data-controller="dropzone"
        data-dropzone-max-file-size="2"
        data-dropzone-max-files="1"
        data-dropzone-accepted-files="image/*"
      >
        <%= form.label :avatar, class: "label dropzone-label" %>
        <i class="material-icons" data-target="text-field.icon">
          face
        </i>
        <% if is_attached %>
          <div class="dz-existing-preview">
            <div class="dz-image">
              <%= image_tag url_for(@user.avatar), alt: 'Uploaded Avatar' %>
              <%= (form.hidden_field :existing_avatar, value: @user.avatar.blob.signed_id) rescue is_attached = nil %>
              <%= (form.hidden_field :avatar, value: @user.avatar.blob.signed_id) rescue is_attached = nil %>
            </div>
          </div>
        <% end %>
        <%= form.file_field :avatar, direct_upload: true, data: { target: 'dropzone.input' }, accept: "image/*", required: !is_attached %>
        <div class="dropzone-msg dz-message">
          <h3 class="dropzone-msg-title">Drag and Drop or Click Here to <%= is_attached ? "Change The Avatar Above" : "Select Your Avatar" %> </h3>
          <span class="dropzone-msg-desc">Accepts images with a max size of 2MB</span>
        </div>
      </div>
    <% end %>
    <%= cell_tag do %>
      <button class="mdc-button mdc-button--unelevated" type="submit">
        <div class="mdc-button__ripple"></div>
        <span class="mdc-button__label">Submit</span>
      </button>
    <% end %>
  </div>
<% end %>
