<aside
  id="app-drawer"
  class="mdc-drawer mdc-drawer--modal"
  data-target="app-drawer.drawer"
>
  <div class="mdc-drawer__header">
    <%=
      image_pack_tag 'logo.webp',
                      alt: t(:title),
                      class: 'mdc-drawer__header--graphic',
                      data: { target: 'app-drawer.logo' }
    %>
  </div>
  <hr class="mdc-list-divider">
  <div class="mdc-drawer__content">
    <nav class="mdc-list-group pb-1">
      <div class="mdc-list">
        <a
          class="mdc-list-item"
          href="/"
          data-target="app-drawer.link"
          data-action="app-drawer#close"
        >
          <i class="material-icons mdc-list-item__graphic" aria-hidden="true">home</i>
          <span class="mdc-list-item__text">Home</span>
        </a>
      </div>
      <% if false %>
      <hr class="mdc-list-divider">
      <%= render partial: "layouts/app_drawer/navigation" %>
      <% else %>
      <a
        class="mdc-list-item"
        href="/contact"
        data-target="app-drawer.link"
        data-action="app-drawer#close"
      >
        <i class="material-icons mdc-list-item__graphic" aria-hidden="true">contact_support</i>
        <span class="mdc-list-item__text">Contact Us</span>
      </a>
      <% end %>
      <hr class="mdc-list-divider">
      <h6 class="mdc-list-group__subheader">Contact</h6>
      <%= render partial: "layouts/app_drawer/contact" %>
      <hr class="mdc-list-divider">
      <h6 class="mdc-list-group__subheader">Social Media</h6>
      <%= render partial: "layouts/app_drawer/media" %>
      <hr class="mdc-list-divider">
      <h6 class="mdc-list-group__subheader">Hours</h6>
      <%= render partial: "layouts/app_drawer/hours" %>
    </nav>
  </div>
</aside>
<div
  id="drawer-scrim"
  class="mdc-drawer-scrim"
  data-action="click->app-drawer#close"
></div>
